
:root {
    --primary: #4aa3a1;
    --secondary: #43938b;
    --black: #000000;
    --white: #fafafa;
}

body {
    background-color: var(--white);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.intro {
    border: initial;
    background-image: url("Images/bar.jpeg");
    background-size: cover;
    min-height: 190vh;
    color:antiquewhite;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black, 0 0 0.1em rgb(29, 8, 75), 0 0 0.1em rgb(13, 61, 43);
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

html {
    scroll-behavior: smooth;
  }


.bio {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    
}

iframe{
    width: 100%;
    height: 90vh;
    border: 2px solid #ccc;
    /* background: transparent; */
}
.content{ 
 border-style: solid;
 box-sizing: border-box;
 padding: 5% 3%;
 margin-top: 5vh;
 margin-bottom: 15vh;
 background-image: url("Images/white-waves.webp");
 box-shadow: 0.7rem 0.7rem 0.2rem #000000;
 font-size: 1.5vw;
 font-family: 'Times New Roman', Times, serif;
 width: 70vw;
 height: auto;
}


.header {

    position: fixed;
    top: 0;
    width: 100%;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5% 1.5%;
    background-color: var(--primary);
    z-index: 1;
    
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}


.logo {
    max-width: 5em;
    height: auto;
    border-radius: 45%;
    border-style: solid;
    border-width: 0.25em;
}

div {
    /* border-style: solid;
    box-sizing: border-box; */
    max-width: 100%;
    
}


.education {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: right;
    align-items: center;
    background-color: var(--secondary);
    color: var();
    padding-top: 5%;
    padding-bottom: 5%;
}

.school {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.projects {
    display: flex;
    gap: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;

}

.project-image {
  position: relative;
  height: auto;
  width: 30vw;
  transition: transform .7s;
}
  
  .project-image:hover {
    transform: scale(.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }