
:root {
    --primary: #4aa3a1;
    --secondary: #43938b;
    --black: #000000;
    --white: #fafafa;
}

body {
    background-color: var(--white);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}


/* body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(Images/bar.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:scroll
  } */

  .intro:before {
    content: "";
  
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(Images/bar.jpeg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
   
  }

.intro {
   
    min-height: 190vh; 
    width: 100vw; 
    color:antiquewhite;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black, 0 0 0.1em rgb(29, 8, 75), 0 0 0.1em rgb(13, 61, 43);

    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/bar.jpeg");
    background-size: 100%;
    background-size: cover;  */
}

html {
    scroll-behavior: smooth;
  }

#menu {
    padding: 3vh;
    
}

.menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;


    
}

iframe{
    width: 100%;
    height: 90vh;
    border: 2px solid #ccc;
    /* background: transparent; */
}
.content{ 
 border-style: solid;
 box-sizing: border-box;
 padding-top: 1%;
 padding-bottom: 2%;
 padding-left: 3%;
 padding-right: 3%;
 margin-top: 5vh;
 margin-bottom: 15vh;
 background: url(Images/bar.jpeg) no-repeat center center;
 box-shadow: 0.7rem 0.7rem 0.2rem #000000;
 font-size: 5vh;
 font-family: 'Times New Roman', Times, serif;
 width: 60vw;
 height: auto;
 text-align: center;
}

@media only screen and (max-width: 800px) {
    .content {width: 95vw;}
  }

#menu-link {
    color: var(--secondary);
}

.header {

    position: fixed;
    top: 0;
    width: 100%;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5% 1.5%;
    background-color: var(--primary);
    z-index: 1;
    
}

.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}


.logo {
    max-height: 5vh;
    height: auto;
    border-radius: 45%;
    border-style: solid;
    border-width: 0.25em;
}

div {
    /* border-style: solid;
    box-sizing: border-box; */
    max-width: 100%;
    
}


.education {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: right;
    align-items: center;
    background-color: var(--secondary);
    color: var();
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.school {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

li {
    display: flex;
    justify-content: space-between;

    text-align: left;
    border: solid;
    width: 20vw;
    min-width: 250px;
}

li div{
    border: solid;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1vh;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}